{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Timesheet</title>

	<link rel="stylesheet" type="text/css" href = "{% static 'bootstrap/compiler/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href = "{% static 'style/table.css' %}">
	<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/compiler/style.css' %}">
</head>

<body>
<div class="container">
	<h2>TimeSheet EMakers</h2>

{% block search %}

{% endblock %}

	<table id="horario" class="table table-striped table-bordered">
		<thead>
		  	<tr>
				<th>Horário</th>
				<th>Dom</th>
				<th>Seg</th>
				<th>Ter</th>
				<th>Qua</th>
				<th>Qui</th>
				<th>Sex</th>
				<th>Sáb</th>
		  	</tr>
		</thead>
		<tbody>
		  	<tr>
				<td>07:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		  	</tr>
		  	<tr>
				<td>08:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		 	</tr>
		  	<tr>
				<td>09:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		 	</tr>
		  	<tr>
				<td>10:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		  	</tr>
		  	<tr>
				<td>11:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		 	</tr>
		  	<tr>
				<td>12:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		  	</tr>
		 	<tr>
				<td>13:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		 	</tr>
		 	<tr>
				<td>14:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		 	</tr>
		  	<tr>
				<td>15:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		  	<tr>
				<td>16:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		 	</tr>
		  	<tr>
				<td>17:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		  	</tr>
		  	<tr>
				<td>18:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		  	</tr>
		  	<tr>
				<td>19:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		  	</tr>
		  	<tr>
				<td>20:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		  	</tr>
		  	<tr>
				<td>21:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		  	</tr>
		  	<tr>
				<td>22:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		  	</tr>
		</tbody>
  	</table>

  	{% for h in timesheet %}
		<script type="text/javascript">
		    var x = document.getElementById("horario").rows[ {{ h.row }} ].cells;
		    x[ {{ h.column }} ].innerHTML = "{{ h.name }}" + ", " + "{{ h.role }}";
		</script>
  	{% endfor %}

</div>

<!-- MODAL -->

{% block modal %}

{% endblock %}

<script type="text/javascript">
    // Get all td and assign an on click event for each one
    var schedules = document.getElementsByTagName("td");
    for (i=0; i<schedules.length; i++) {
        schedules[i].onclick = function () {
            var row = this.closest('tr').rowIndex;
            var column = this.closest('td').cellIndex;
            // Event triggered when modal is showed. Used to mount form input properly
            $('#exampleModal').on('show.bs.modal', function(){
                var modal = $(this);
                modal.find("#modal_row").val(row);
                modal.find("#modal_column").val(column);
            });

            if (column) $('#exampleModal').modal('show');
        };
    }

	// nao funciona dar um jeito de clonar o elemento html
	function createName(){
	    var select = document.getElementById("name-select");
	    var newSelect = select.cloneNode(true);
		document.body.appendChild(newSelect)
	}

	$(document).ready(function(){
    	$("#name-select2").html($("#name-select").html());
	});

	$(document).ready(function(){
   		$("#time-select2").html($("#time-select").html());
	});

	$(document).ready(function(){
   	 	$("#day-select2").html($("#day-select").html());
	});

</script>

</body>