{% extends 'core/index.html' %}
{% load static %}

{% block modal %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Salvando Horários</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" action="{% url 'save' %}">
				{% csrf_token %}
				<div class="modal-body">

					<div class="row">
						<div class="form-group col-md-6">
							<label>Nome:</label>
						</div>
						<div class="form-group col-md-6">
							<label>Cargo:</label>
							<input type="text" class="form-control" name="role">	
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label>Horário:</label>
						</div>
						<div class="form-group col-md-6">
							<label>Dia:</label>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
						    <label>Linha:</label>
						    <input type="text" readonly class="form-control-plaintext" id="modal_row" name="row">
						</div>
						<div class="form-group col-md-6">
							<label>Coluna:</label>
						    <input type="text" readonly class="form-control-plaintext" id="modal_column" name="column">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}